<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XJTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>902BB4311D1D022800C8553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>902BB44A1D1D022800C8553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>902BB4551D1D022800C8553F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
